fastapi==0.101.0
uvicorn==0.23.2
gunicorn==21.2.0
pandas
numpy
torch
openpyxl
xlrd
pytorch_lightning
json5
rank_bm25
scikit_learn
sentence_transformers
tqdm
emoji~=1.6.3
nltk==3.8.1
torchmetrics==0.7.3
protobuf